<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <%- include('navbar') %>
        <h1 class="h1">Add New Task</h1>

        <div class="container">
            <form class="todo-form" action="/add" method="post">
                <input class="input" type="text" name="title">
                <br>
                <br>
                <textarea class="input" rows="" cols="" name="description" id=""></textarea>
                <br>
                <br> 
                <button class="button">Add New Text</button>
            </form>
        </div>
 
</body>

</html>